<form action="/categories/<%= article.category %>/<%= article._id %>?_method=PATCH" method="post">
  <div class="form-group">
    <label>Author</label>
    <input class="form-control" name="article[author]" value="<%= article.author %>" readonly><br/>
    <label>Subject</label>
    <input type="text" class="form-control" name="article[category]"  value="<%= article.category %>" required maxlength="23"><br/>
    <label>Article</label>
    <textarea class="form-control" name="article[content]" rows="5" required maxlength="1000"><%= article.content %></textarea><br/>
  <input type="submit" class="btn">
  </div>
</form>
